#navbar {
  display: flex;
  color: #212335;
  width: 200vh;
  background: darkgrey;
  height: 17vh;
  margin-top: -17vh;
}

.icons {
  display: flex;
  margin: 6vh 0vh 0vh 17vh;
  justify-content: space-evenly;
}

/*========== Coin Search ===========*/

.coin-search {
  margin-top: -1vh;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 39px;
  border-radius: 4px;
  border: none;
  background-color: #212335;
  color: #fff;
}

.coin-input::placeholder {
  color: #e2e2e2;
  font-size: 2vh;
}

.home-icon {
  cursor: pointer;
}
.trade-icon {
  cursor: pointer;
}
.coin-icon {
  cursor: pointer;
}
.note-icon {
  cursor: pointer;
}
.search-icon {
  cursor: pointer;
}