/* =========== Coin List ===========*/

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  max-width: 75%;
  margin: 7vh 0vh 0vh 28vh;
  float: left;
}

.coin-list {
  overflow: auto;
  font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
  max-height: 68vh;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 155vh;
}

.details-button {
  padding-inline: 3vh;
  padding: 6px 6px 6px 6px;
  background-color: darkslateblue;
  background-image: linear-gradient( 45deg, #ac32e4 100%, #7918f2 48%, #4801ff 0%,);
  background-size: 100%;
  background-repeat: repeat;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  margin-left: 2vh;
  color: white;
}

.details-button:hover {
  padding-inline: 3vh;
  padding: 6px 6px 6px 6px;
  background-color: darkslateblue;
  background-image: linear-gradient( 45deg, #ac32e4 100%, #7918f2 48%, #4801ff 0%,);
  background-size: 100%;
  background-repeat: repeat;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  margin-left: 2vh;
  text-decoration: underline;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 31vh;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 2vh;
  margin-left: 2vh;
}

.coinName {
  font-size: 16px;
  width: 150px;
}

.coin-symbol {
  text-transform: uppercase;
  margin-left: 5px;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 76%;
  margin-left: 10vh;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coin-marketcap {
  margin-right: 3vh;
}

/*========== Coin Search ===========*/

.coin-search {
  margin-top: -1vh;
}

.coin-text {
  margin-right: 33vh;
  text-align: center;
  background-color: #4801ff;
  background-image: linear-gradient(
      45deg,
      #ac32e4 100%,
      #7918f2 48%,
      #4801ff 0%,);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 39px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}
/* ========= Coin Description =========*/

.description {
  margin: 10vh 1vh -15vh 41vh;
  float: left;
  font-size: 3vh;
}

.coin-description {
  margin-right: 38vh;
}

.price-description {
  margin-right: 15vh;
}

.volume-description {
  margin-right: 14vh;
}

.highLow-description {
  margin-right: 11vh;
}

.marketCap-description {
  margin-right: 2vh;
}