/* =========== Coin List ===========*/

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.coin-list {
  overflow: auto;
  font-family: sans-serif;
  max-height: 68vh;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 155vh;
}

.details-button {
  padding-inline: 3vh;
  padding: 6px 6px 6px 6px;
  background-color: darkslateblue;
  background-image: linear-gradient( 45deg, #ac32e4 100%, #7918f2 48%, #4801ff 0%,);
  background-size: 100%;
  background-repeat: repeat;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  margin-left: 2vh;
  color: white;
}

.details-button:hover {
  padding-inline: 3vh;
  padding: 6px 6px 6px 6px;
  background-color: darkslateblue;
  background-image: linear-gradient( 45deg, #ac32e4 100%, #7918f2 48%, #4801ff 0%,);
  background-size: 100%;
  background-repeat: repeat;
  cursor: pointer;
  text-decoration: none;
  border-radius: 12px;
  margin-left: 2vh;
  text-decoration: underline;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 31vh;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 2vh;
  margin-left: 2vh;
}

.coinName {
  font-size: 16px;
  width: 150px;
}

.coin-symbol {
  text-transform: uppercase;
  margin-left: 5px;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 76%;
  margin-left: 10vh;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coin-marketcap {
  margin-right: 3vh;
}

/* ========= Coin Description =========*/

.description {
  margin: 3vh 0vh 3vh 35vh;
  font-size: 2.5vh;
}

.coin-description {
  margin-right: 35vh;
  margin-left: 5vh;
}

.price-description {
  margin-right: 20vh;
}

.volume-description {
  margin-right: 23vh;
}

.highLow-description {
  margin-right: 16vh;
}

.marketCap-description {
  margin-right: 2vh;
}