:root {
  /* --clr-primary-200: #f3eed9;

  --clr-neutral-100: #fff;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* @keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: #212335;
  animation: Gradient 20s ease infinite;
  animation-direction: normal;
  color: #fff;
  font-family: var(--font-family-primary);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

@media (min-width: 40rem) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100rem;
  }

  .split > * + * {
    margin-left: 2em;
  }

  .nav-buttons {
    flex-direction: row;
  }

  .nav-buttons > * {
    flex-basis: 100%;
  }

  .nav-buttons > * + * {
    margin-right: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}

.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

.logo {
  object-fit: contain;
  height: 6em;
  float: left;
  padding-right: 2em;
  margin-top: -2em;
}

.nav-buttons {
  float: right;
}

.get-started-button {
    height: 3em;
    font-size: 1.5rem;
    border-radius: 1em;
}

.home {
  padding-right: 2rem;
}

.signup-button {
  border-radius: 1rem;
  font-size: 1.5em;
}