 .home {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1c;
  color: #fff;
  width: 46vh;
  margin-left: 20vh;
  height: 7vh;
  float: right;
}

.add-more-button {
  margin-right: 10vh
}

.watched-coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  max-width: 45%;
  margin-right: 10vh;
  margin-left: 37vh;
}

 .watch-list-title {
  margin: 0vh 0vh 5vh 118vh;
  background-color: #4801ff;
   background-image: linear-gradient(
        45deg,
        #ac32e4 100%,
        #7918f2 48%,
        #4801ff 0%,);

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watched-coin-list {
  padding: 0px;
  font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
  max-height: 68vh;
  float: right;
}

.watched-coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #d7d7d7;
  width: 48vh;
  height: 7vh;
  margin-right: 30vh;
}

.watched-coin {
  display: flex;
  align-items: center;
  padding-right: 24px;

  min-width: 22vh;
}

.watched-coin-name {
  font-size: 16px;
  width: 150px;
}

.watched-coin-img {
  height: 30px;
  width: 30px;
  margin-left: 2vh;
  margin-right: 2vh;
}

.watched-coin-symbol {
  text-transform: uppercase;
}

.watched-coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.watched-coin-price {
  margin-left: 10vh;
}

.watched-coin-volume {
  width: 45px;
}

.watched-coin-marketcap {
  width: 115px;
}

.watched-coin-percent {
  width: 50px;
}

.watched-red {
  color: #f00606;
}

.watched-green {
  color: #11d811;
}