.card-body {
  margin: 2vh 0vh 4vh 10vh;
}

.card {
  box-shadow: 1vh 1vh ;
  margin: 5vh 0vh 5vh 10vh;
}

.delete-icon {
  cursor: pointer;
}

.watch-details-button {
  cursor: pointer;
}

.drop-down-menu {
  margin: 0vh 0vh 0vh 12vh;
}

.main-drop-down {
  margin: 8vh 0vh 5vh 14vh;
}

.drop-down-item {
  display: flex;
  flex-direction: column;
  height: 12vh;
  margin-left: 14vh;
}
.drop-down-image {
  height: 4vh;
  width: 4vh;
}

.drop-down-details-button {
  font-size: 2vh;
}

.watch-list {
  padding: 0px;
  font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
  max-height: 68vh;
  display: grid;
  float: right;
  grid-template-columns: 50vh 50vh 50vh;
}

.menu-item {
  color: white;
}

.watched-coin-row {
  font-size: 2vh;
}